<main class="auth-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Log in</h1>
            <div class="input-group md-form form-sm form-2 pl-0">
                <nav class="navbar navbar-light bg-light">

                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="field1">Username</label>
                            <input name="username" type="text" class="form-control" id="field1">
                        </div>
                        <div class="form-group">
                            <label for="field2">Password</label>
                            <input name="password" type="password" class="form-control" id="field2">
                        </div>

                        <button type="submit" class="btn btn-lg btn-green btn-primary">Log in!</button>

                        {{#if errorMsg}}
                        <div id="errorMsg">{{{errorMsg}}}</div>
                        {{/if}}
                        <p> Don't you have an account yet? <a class="pink-anchor" href="/auth/signup">Sign up!</a></p>
                    </form>
                </nav>
            </div>
        </div>
    </div>
</main>