<div class="container">
    <h1>Welcome to your profile {{user.username}}</h1>
    <img src="{{user.image}}" alt="profile image">
    <h3>About me</h3>
    <p>{{user.description}}</p>
    <h3>Interests</h3>
    <p>{{user.interests}}</p>
</div>