<div class="container">
    <div class="row justify-content-center">

        {{#each theRecipes}}
        <div class="col-4">
            {{>basicCardRecipe this}}
        </div>
        {{/each}}
    </div>
</div>