<div class="container">
    <div class="row justify-content-center">

        {{#each theRecipes}}
        <div class="col-4">
            <article class="recipe-card">
                <div class="card">
                    {{>cardRecipeInfo this}}
                    {{>DBCardRecipeButtons ../dates}}
                </div>
            </article>
        </div>
        {{/each}}
    </div>
</div>