<main class="my-recipes-container">
    <div class="container">
        <div class="row justify-content-center">

            {{#each theRecipes}}
            <div class="col-4">
                <article class="recipe-card">
                    <div class="card">
                        {{>cardRecipeInfo this}}
                        <div class="card-body">
                            <a href="/profile/my-recipes/details/{{id}}" class="btn btn-sm btn-green">More details</a>
                            <form action="/profile/my-recipes/add-to-week/{{id}}" method="POST">
                                <input type="date" name="mealDate" max="{{../lastDay}}" min="{{../today}}">
                                <input type="submit" value="Add to week" class="btn btn-sm btn-green">
                            </form>
                        </div>
                    </div>
                </article>
            </div>
            {{/each}}
        </div>

    </div>
</main>