<main class="shopping-list-container">
    <div class="container">
        <div class="shopping-list">
            <h1>My shopping list</h1>
            <ul>
                <div class="row">
                    {{#each filteredWeekMeals}}
                    <div class="col-4 list-ingredient-container">
                        <input type="button" value="&#10006;" class="btn btn-green btn-xxs delete-item-button">
                        <li class="ingredient-item">{{this}}</li>
                    </div>
                    {{/each}}
                </div>
            </ul>
        </div>
    </div>
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../javascripts/API-DDBB-Handler.js" type="text/javascript"></script>
<script src="../../javascripts/shopping-list.js" type="text/javascript"></script>