<div class="card-body">
    <div class="btn-container-in-card">
        <form action="/recipes/add-to-favourites/{{this}}" method="post">
            <input type="submit" value="&#10084;" data-recipe="{{this}}" class="favbutton btn btn-xs btn-green">
        </form>
        <a href="/recipes/details/{{this}}" class="btn btn-xs btn-green">&#10010;</a>
    </div>
</div>