<div class="small-card">
    {{#if image}}
    <img src="{{image}}" alt="{{title}}">
    {{else}}
    <img class="card-img-top" src="../../images/rec-avocado.png" alt="">
    {{/if}}
    <h5>{{title}}</h5>
</div>