<div class="small-card">
    {{#if image}}
    <img src="{{image}}" alt="{{title}}" draggable="false">
    {{else}}
    <img class="card-img-top" src="../../images/rec-avocado.png" alt="">
    {{/if}}
    <h5>{{title}}</h5>
    <form action="/profile/my-week/delete" method="post" id="delete-weekmeal-form">
        <input type="submit" value="&#10006;" class=" btn btn-xxs btn-green delete-meal">
    </form>
</div>