<section class="hero">
    <div class="container hero-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <article class="main-title-container">
                    <h1>Welcome to <span>_foodies</span></h1>
                    <p>Here a super cool phrase! Keep thinking...</p>
                    <a href="/recipes">Search for recipes</a>
                </article>
            </div>
            <div class="col-md-6">
                <img src="" alt="">
            </div>
        </div>

    </div>
</section>
<div class="container">
    <section class="main-points-container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <article class="main-point">
                    <img src="" alt="">
                    <h3>Title of the point</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore pariatur sint ipsam,
                        corrupti exercitationem quibusdam! Aliquam iure ipsum alias, sit optio culpa natus praesentium
                        reprehenderit facere incidunt. Unde, ullam?</p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="main-point">
                    <img src="" alt="">
                    <h3>Title of the point</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore pariatur sint ipsam,
                        corrupti exercitationem quibusdam! Aliquam iure ipsum alias, sit optio culpa natus praesentium
                        reprehenderit facere incidunt. Unde, ullam?</p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="main-point">
                    <img src="" alt="">
                    <h3>Title of the point</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus inventore pariatur sint ipsam,
                        corrupti exercitationem quibusdam! Aliquam iure ipsum alias, sit optio culpa natus praesentium
                        reprehenderit facere incidunt. Unde, ullam?</p>
                </article>
            </div>
        </div>
        <a href="/auth/signup">Sign up and ENJOY!</a>
    </section>
</div>