<section class="hero">
    <div class="container hero-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <article class="main-title-container">
                    <h1>Welcome to <span>_Foodies</span></h1>
                    <p>Enjoy cooking and organize your week with our awesome recipes!... Or create yours!</p>
                    <a href="/recipes" class="btn btn-lg btn-primary btn-green">Search for recipes</a>
                </article>
            </div>
            <div class="col-md-6">
                <img src="/images/main-page/organic-img-hero.png" alt="food image">
            </div>
        </div>

    </div>
</section>
<div class="container">
    <section class="main-points-container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <article class="main-point">
                    <img src="../images/main-page/pink-recipe-book.png" alt="recipe book icon">
                    <h3>Find your perfect recipes</h3>
                    <p>You have access to thousands of recipes, find the ones you like the most and add them to
                        favourites or create yours!</p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="main-point">
                    <img src="../images/main-page/pink-planner.png" alt="planner icon">
                    <h3>Organize your week</h3>
                    <p>You can add your favourite recipes to your week planner. Keep everything organized for day-a-day!
                    </p>
                </article>
            </div>
            <div class="col-md-3">
                <article class="main-point">
                    <img src="../images/main-page/pink-shop-list.png" alt="shop list icon">
                    <h3>Your shopping list is ready</h3>
                    <p>Our week planning will generate a shopping list for you. You can add/delete items as you want!
                    </p>
                </article>
            </div>
        </div>
        <div class="row justify-content-center end-button">
            <a href="/auth/signup" class="btn btn-lg btn-primary btn-green ">Sign up and ENJOY!</a>

        </div>
    </section>
</div>