main {
  min-height: 91vh; }

body {
  font-family: "Montserrat", sans-serif; }

p {
  font-weight: 300; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit; }

.hero {
  background-image: url("../images/background/geometric-leaves-color.png");
  background-repeat: repeat;
  height: 70vh; }

.main-title-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-title-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 50px; }
  .main-title-container p {
    text-align: center;
    margin-bottom: 30px; }
  .main-title-container span {
    color: #c3d651;
    font-weight: 700; }

.hero-container {
  padding-top: 70px;
  height: 70vh; }
  .hero-container img {
    width: 100%; }

.cardButtons {
  display: flex; }

.recipe-card {
  min-height: 600px;
  margin-bottom: 40px; }
  .recipe-card .card {
    border: none;
    min-height: 100%;
    background-color: white;
    border: 1px solid #d6b1a1;
    margin-bottom: 50px;
    border-radius: 0; }
  .recipe-card ul {
    display: flex;
    padding: 0; }
  .recipe-card li {
    list-style: none;
    font-size: 0.9em;
    list-style-position: outside; }
  .recipe-card .green-span {
    color: #c3d651; }
  .recipe-card .card-title {
    font-size: 1.2em;
    color: #d6b1a1; }
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; }

.ingredients-container {
  display: flex; }

.btn-green {
  background-color: #c3d651;
  border-color: #c3d651;
  width: 40%;
  max-width: 300px;
  color: white; }

.absolutenav {
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; }

.navbar-light .navbar-brand {
  font-weight: 700;
  color: #c3d651; }

.main-point {
  margin: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .main-point img {
    width: 40%;
    margin-bottom: 20px; }

.end-button {
  margin-bottom: 50px; }

footer {
  display: flex;
  text-align: end;
  color: white;
  align-items: center;
  height: 9vh;
  background-color: #d6b1a1; }
  footer span {
    font-weight: 600; }

.btn-lg {
  border-radius: 0; }

.main-container {
  min-height: 91vh; }

.search-section {
  margin-bottom: 200px;
  text-align: center;
  padding-top: 200px; }
  .search-section h1 {
    font-weight: 600;
    color: #d6b1a1;
    margin-bottom: 30px; }
  .search-section .navbar {
    display: flex;
    justify-content: center; }
  .search-section h3 {
    font-size: 1.2em; }
  .search-section .bg-light {
    background-color: #f8f5f2 !important; }
  .search-section li {
    list-style: none;
    font-size: 0.9em; }
  .search-section .input-group-prepend {
    margin-right: 15px;
    align-items: center;
    justify-content: center; }
  .search-section .input-group {
    justify-content: center; }
  .search-section .input-group > .form-control {
    width: 650px; }
  .search-section .form-inline {
    flex-direction: column; }

.field-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .field-container input {
    margin-right: 30px; }
  .field-container label {
    margin-right: 10px; }

.results-section {
  padding: 100px;
  background-color: #f8f5f2;
  background-repeat: repeat; }

.recipe-details .detailedImageRecipe {
  border-radius: 50%; }

.navbar {
  width: 100%; }

.auth-container h1 {
  text-align: center;
  margin: 200px 0 30px;
  font-weight: 600;
  color: #d6b1a1; }

.auth-container nav {
  background-color: #f8f5f2 !important;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.auth-container .form {
  width: 100%; }

.auth-container input {
  width: 400px; }

.auth-container .pink-anchor {
  color: #d6b1a1;
  font-weight: 500; }

.auth-container p {
  margin-top: 10px; }

.my-recipes-container {
  padding-top: 200px; }

.small-card img {
  width: 100%; }

.my-week {
  padding-top: 200px; }
  .my-week h1 {
    font-weight: 600;
    color: #d6b1a1;
    margin-bottom: 50px;
    text-align: center; }
  .my-week h4 {
    color: #c3d651; }
  .my-week .meal-container {
    min-height: 100px;
    background-color: #f8f5f2;
    opacity: 0.8;
    padding: 40px;
    margin-bottom: 50px; }
    .my-week .meal-container .small-card {
      border: 1px solid #d6b1a1;
      background-color: white;
      opacity: 1;
      min-height: 150px;
      margin-bottom: 25px; }
      .my-week .meal-container .small-card h5 {
        text-align: center;
        margin: 15px;
        color: #d6b1a1;
        font-size: 0.9em; }

#ingredients {
  width: 200px; }

.recipe-details {
  padding: 150px 0 100px 0; }
  .recipe-details .tags-cont {
    margin-top: 20px; }
  .recipe-details .btn-sm {
    width: 15%;
    margin-bottom: 40px; }
  .recipe-details h4 {
    margin-bottom: 20px; }
  .recipe-details .col-with-padding {
    padding: 0 70px; }
  .recipe-details .last-row {
    padding: 0 50px 50px 50px; }
  .recipe-details .first-row {
    padding: 50px; }
  .recipe-details .recipe-detailed {
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
    min-height: 91vh;
    padding: 20px;
    background-color: #f8f5f2;
    display: flex;
    margin-top: 60px; }
    .recipe-details .recipe-detailed h1 {
      font-weight: 600;
      color: #d6b1a1;
      margin-bottom: 30px;
      text-align: center; }
    .recipe-details .recipe-detailed li {
      margin-bottom: 13px;
      list-style: none;
      font-weight: 300; }
  .recipe-details .butoner {
    justify-content: center;
    display: flex; }
    .recipe-details .butoner .butoner a {
      margin-right: 20px; }

#ingredients {
  width: 200px; }

.detailedImageRecipe {
  padding: 50px 20px;
  max-width: 100%;
  border-radius: 50%; }

.steps-container {
  background-color: #f8f5f2; }
  .steps-container input {
    margin-bottom: 10px; }

.spaceBetween {
  margin-top: 10px; }

.butoner {
  justify-content: center;
  display: flex; }

.butoner a {
  margin-right: 20px; }

#ingredients {
  width: 200px; }

.steps-container {
  background-color: #f8f5f2; }

.spaceBetween {
  margin-top: 10px; }

.shopping-list-container {
  padding-top: 150px;
  padding: 100px;
  background-image: url(/images/background/coffee.png);
  background-size: cover; }
  .shopping-list-container h1 {
    font-weight: 600;
    color: #d6b1a1;
    margin-bottom: 50px;
    text-align: center; }
  .shopping-list-container .shopping-list {
    margin: 100px 0;
    padding: 50px;
    background-color: #f8f5f2;
    opacity: 0.5;
    border: 1px solid #d6b1a1; }
    .shopping-list-container .shopping-list ul {
      line-height: 2.5em; }
      .shopping-list-container .shopping-list ul li {
        font-size: 0.9em;
        display: inline;
        font-weight: 400;
        text-transform: uppercase; }

.btn-xs {
  background-color: #c3d651;
  border-color: #c3d651;
  width: 40px;
  color: white;
  transition: all 0.5s ease; }

.btn-xs.added {
  background-color: #d6b1a1;
  color: #942a2a;
  border-color: #d6b1a1; }

.added {
  background-color: #d6b1a1;
  color: #942a2a;
  border-color: #d6b1a1; }

.dragabbles-container {
  min-width: 100%;
  min-height: 150px; }

.addImput {
  display: flex;
  align-items: center;
  padding-bottom: 10px; }
  .addImput input {
    margin-right: 5px; }

#ingredientADD {
  margin-top: 15px; }

.btn-container-in-card {
  display: flex;
  flex-direction: row-reverse; }
  .btn-container-in-card form {
    width: 40px;
    margin: 0 15px; }

.buttons-container-recipes {
  display: flex;
  flex-direction: row-reverse; }
  .buttons-container-recipes .btn-green {
    margin: 0 10px; }
  .buttons-container-recipes form {
    display: flex; }

.btn {
  border-radius: 0; }

.btn.btn-xxs {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  margin-right: 5px; }

.small-card {
  position: relative; }
  .small-card #delete-weekmeal-form {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px; }
    .small-card #delete-weekmeal-form .btn-xxs {
      color: #d6b1a1;
      background-color: white;
      border-color: white; }

.recipe-form-container {
  padding: 150px 0 100px;
  min-height: 91vh; }
  .recipe-form-container .recipe-detailed-form {
    padding: 20px;
    background-color: #f8f5f2;
    display: flex;
    margin-top: 60px; }
  .recipe-form-container .btn-sm {
    max-width: 150px; }

.separated-input {
  margin-bottom: 10px; }

.label-ing {
  padding: 5px 0 0 10px; }

.profile-container {
  text-align: center;
  padding: 150px 0 100px;
  min-height: 91vh; }
  .profile-container img {
    max-height: 100px;
    margin: 30px; }
  .profile-container ul {
    display: flex;
    justify-content: center; }
    .profile-container ul li {
      margin: 0 20px;
      font-weight: 300;
      list-style: none; }
  .profile-container h1 {
    font-weight: 600;
    color: #d6b1a1;
    margin-bottom: 30px;
    text-align: center; }

.results-section-similar {
  margin-top: 100px;
  display: block;
  height: auto;
  transition: all 0.5s ease; }

.results-section-similar.hidden {
  display: none;
  height: 0; }

.unique-nutrition-container {
  display: flex; }

.nutritions-container.col-md-12 {
  padding: 0; }
  .nutritions-container.col-md-12 .col-6.nutrition {
    padding: 0; }
  .nutritions-container.col-md-12 .first {
    margin-right: 10px; }

.col-12.nutrition {
  padding-left: 0;
  margin-bottom: 25px; }

.main-btn-save-changes {
  margin-bottom: 50px; }

.main-my-week {
  background-image: url(/images/background/tomato.png);
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */