main {
  min-height: 91vh; }

body {
  font-family: "Montserrat", sans-serif; }

p {
  font-weight: 300; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit; }

.hero {
  background-image: url("../images/background/geometric-leaves-color.png");
  background-repeat: repeat;
  height: 70vh; }

.main-title-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-title-container h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 50px; }
  .main-title-container p {
    text-align: center;
    margin-bottom: 30px; }
  .main-title-container span {
    color: #c3d651;
    font-weight: 700; }

.hero-container {
  padding-top: 70px;
  height: 70vh; }
  .hero-container img {
    width: 100%; }

.recipe-card {
  min-height: 550px;
  background-color: white;
  border: 1px solid #d6b1a1;
  margin-bottom: 50px; }
  .recipe-card .card {
    border: none; }
  .recipe-card ul {
    display: flex;
    padding: 0; }
  .recipe-card li {
    list-style: none;
    font-size: 0.9em;
    list-style-position: outside; }
  .recipe-card .green-span {
    color: #c3d651; }
  .recipe-card .card-title {
    font-size: 1.2em;
    color: #d6b1a1; }
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; }

.ingredients-container {
  display: flex; }

.btn-green {
  background-color: #c3d651;
  border-color: #c3d651;
  width: 40%;
  max-width: 300px; }

.absolutenav {
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; }

.navbar-light .navbar-brand {
  font-weight: 700;
  color: #c3d651; }

.main-point {
  margin: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .main-point img {
    width: 40%;
    margin-bottom: 20px; }

.end-button {
  margin-bottom: 50px; }

footer {
  display: flex;
  text-align: end;
  color: white;
  align-items: center;
  height: 9vh;
  background-color: #d6b1a1; }
  footer span {
    font-weight: 600; }

.btn-lg {
  border-radius: 0; }

.main-container {
  min-height: 91vh; }

.search-section {
  margin-bottom: 200px;
  text-align: center;
  padding-top: 200px; }
  .search-section h1 {
    font-weight: 600;
    color: #d6b1a1;
    margin-bottom: 30px; }
  .search-section .navbar {
    display: flex;
    justify-content: center; }
  .search-section h3 {
    font-size: 1.2em; }
  .search-section .bg-light {
    background-color: #f8f5f2 !important; }
  .search-section li {
    list-style: none;
    font-size: 0.9em; }
  .search-section .input-group-prepend {
    margin-right: 15px;
    align-items: center;
    justify-content: center; }
  .search-section .input-group {
    justify-content: center; }
  .search-section .input-group > .form-control {
    width: 650px; }
  .search-section .form-inline {
    flex-direction: column; }

.field-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .field-container input {
    margin-right: 30px; }
  .field-container label {
    margin-right: 10px; }

.results-section {
  padding: 100px;
  background-image: url("../images/background/invert-geometric-leaves-color.png");
  background-repeat: repeat; }

.recipe-details img {
  border-radius: 30% 70% 70% 30% / 61% 63% 37% 39%; }

.navbar {
  width: 100%; }

.auth-container h1 {
  text-align: center;
  margin: 200px 0 30px;
  font-weight: 600;
  color: #d6b1a1; }

.auth-container nav {
  background-color: #f8f5f2 !important;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.auth-container .form {
  width: 100%; }

.auth-container input {
  width: 400px; }

.auth-container .pink-anchor {
  color: #d6b1a1;
  font-weight: 500; }

.auth-container p {
  margin-top: 10px; }

.my-recipes-container {
  padding-top: 200px; }

.small-card img {
  width: 100%; }

.my-week {
  padding-top: 200px; }
  .my-week h4 {
    color: #c3d651; }
  .my-week .meal-container {
    min-height: 300px;
    background-color: #f8f5f2;
    padding: 40px;
    margin-bottom: 50px; }
    .my-week .meal-container .small-card {
      border: 1px solid #d6b1a1;
      background-color: white;
      min-height: 250px;
      margin-bottom: 25px; }
      .my-week .meal-container .small-card h5 {
        text-align: center;
        margin: 15px;
        color: #d6b1a1;
        font-size: 0.9em; }

#ingredients {
  width: 200px; }

.recipe-detailed {
  padding: 20px;
  background-color: #f8f5f2;
  display: flex;
  margin-top: 60px; }

.butoner {
  justify-content: center;
  display: flex; }

.butoner a {
  margin-right: 20px; }

#ingredients {
  width: 200px; }

.detailedImageRecipe {
  max-width: 100%;
  border-radius: 30% 70% 70% 30% / 61% 63% 37% 39%; }

.steps-container {
  background-color: #f8f5f2; }

.spaceBetween {
  margin-top: 10px; }

.shopping-list-container {
  padding-top: 150px;
  padding: 100px;
  background-image: url("../images/background/invert-geometric-leaves-color.png");
  background-repeat: repeat; }
  .shopping-list-container .shopping-list {
    margin: 100px 0;
    background-color: white;
    border: 2px solid #d6b1a1; }
    .shopping-list-container .shopping-list ul {
      line-height: 2.5em; }
      .shopping-list-container .shopping-list ul li {
        display: inline; }

.btn-xs {
  background-color: #c3d651;
  border-color: #c3d651;
  width: 40px;
  color: white;
  transition: all 0.5s ease; }

.btn-xs.added {
  background-color: #d6b1a1;
  color: #942a2a;
  border-color: #d6b1a1; }

.added {
  background-color: #d6b1a1;
  color: #942a2a;
  border-color: #d6b1a1; }

.dragabbles-container {
  min-width: 100%;
  min-height: 250px; }

/*# sourceMappingURL=style.css.map */