<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-weight: 100">Nueva Receta</h1>
        </div>
        <div class="col-md-6">
            <form action="/profile/my-recipes/{{userID}}/add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <br>
                    <br>
                    <br>
                    <label for="title">Title of the Recipe</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <label for="title">Image</label>
                <input type="file" name="imageFile">
                
                <a href="#" class="add-ingredient btn btn-dark">+</a>

                <div class="form-group ingredients-container">
                    <div class="unique-ingredient-container">
                        <label for="amount">Amount</label>
                        <input name="amount" type="text" class="form-control" id="amount">
                        <label for="ingredients">Ingredients</label>
                        <input name="ingredients" type="text" class="form-control" id="ingredients">
                    </div>

                </div>
                <a href="#" class="add-step btn btn-dark">+</a>
                <div class="form-group steps-container">
                    <label for="steps">Steps</label>
                    <div class="unique-steps-container">
                        <input name="steps" type="text" class="form-control" id="steps">
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <br>
                    <fieldset>
                        <legend>Filter your interests!</legend>
                        <label for="vegetarian">Vegetarian</label>
                        <input type="checkbox" name="vegetarian" id="vegetarian" >
                        <label for="vegan">Vegan</label>
                        <input type="checkbox" name="vegan" id="vegan" >
                        <label for="veryHealthy">Healthy</label>
                        <input type="checkbox" name="veryHealthy" id="veryHealthy">
                        <label for="glutenFree">Gluten free</label>
                        <input type="checkbox" name="glutenFree" id="glutenFree">
                        <label for="cheap">Cheap</label>
                        <input type="checkbox" name="cheap" id="cheap">
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="preparationMinutes">Preparation minutes</label>
                    <input name="preparationMinutes" type="number" class="form-control" id="inversions-input">
                    <label for="cookingMinutes">Cooking Minutes minutes</label>
                    <input name="cookingMinutes" type="number" class="form-control" id="inversions-input">
                </div>
                <button type="submit" class="btn btn-dark">Add Recipe!</button>
                <a href="/profile/:userID/my-recipes" class="btn btn-dark">Go back</a>
            </form>
        </div>
    </div>
</div>
<script src="/javascripts/add-recipes.js"></script>