<div class="container">
        {{>detailedCardRecipe this}}
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/API-DDBB-Handler.js"></script>
<script src="/javascripts/recipe-search.js"></script>
<script src="/javascripts/detailed-recipes.js"></script>