<main class="main-container">

    <section class="search-section">
        <div class="container">
            <h1>Search your recipe!</h1>
            <div class="input-group md-form form-sm form-2 pl-0">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline search-form-api" action="/recipes/search" method="get">
                        <div class="input-group">
                            <button>
                                <div class="input-group-prepend">
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </div>
                            </button>
                            <input type="text" name="query" class="form-control search-control"
                                placeholder="Name of the recipe" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="field-container">
                            <label for="vegetarian">Vegetarian</label>
                            <input type="checkbox" name="filter" id="vegetarian" value="vegetarian">
                            <label for="vegan">Vegan</label>
                            <input type="checkbox" name="filter" id="vegan" value="vegan">
                            <label for="veryHealthy">Healthy</label>
                            <input type="checkbox" name="filter" id="veryHealthy" value="veryHealthy">
                            <label for="gluttenFree">Gluten free</label>
                            <input type="checkbox" name="filter" id="glutenFree" value="glutenFree">
                            <label for="cheap">Cheap</label>
                            <input type="checkbox" name="filter" id="cheap" value="cheap">
                        </div>
                    </form>
                </nav>
            </div>
        </div>
    </section>
    {{#if results}}
    <section class="results-section">
        <div class="container">
            <div class="row justify-content-center">

                {{#each results}}
                <div class="col-4">
                    <article class="recipe-card">
                        <div class="card">
                            {{>cardRecipeInfo this}}
                            {{>APICardRecipeButtons this.id}}
                        </div>
                    </article>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{/if}}
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../javascripts/API-DDB-Handler.js"></script>
<script src="../../javascripts/recipe-search.js"></script>